  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* //////////////                                                  Intro section                          */
#intro{
  background-color: #f7dbcd; min-height:40vh;
  width:100%;margin-top: 3% ;padding-top: 5px;
  padding-bottom: 5px;display: flex;

}
.main {
  max-width: 100%;height: auto;
}
.IntroPic{
  margin-right: 1% ;margin-top: 3% ;
  align-self: flex-end;max-width:100%;
  height:auto;padding-top: 25vh;
}
.introText{
  font-size: 4em ;padding-left: 5% ;
  padding-top: 7% ;height:auto;width:100%;
  align-self: flex-start;
}
.introMainTitle{
  text-align: left;font-size: 4vw;
}
.introSubTitle{
  font-size: 5vw ;
}
.tagLine{
  margin-top: 5%;font-size:2vw;
}
.introLoginButton{
  margin-top: 10% ;padding: 0.5% 7% 0.5% 10%;
  font-size: 0.3em ;
}
.introSignUpButton{
  margin-top: 10% ;
  padding: 0.5% 10% 0.5% 7%;
  font-size: 0.3em ;
}
/*   //////////////////////////////////////  2nd Section     ///////////////////////////////////////////////         */


/* /////////////////////////////////////////             3rd   //////////////////////////////       */
.service-heading{
  padding-top: 4% ;padding-bottom: 20% ;
  text-align: center;font-size: 25px;font-weight: bold;
}
.service{
  height:auto;
  background-color: white ;
  padding: 2% 4% ;
  margin-bottom:1% ;
}
.serviceHeading{
  text-align: center;
  font-size: 3.25em ;
  font-weight: bold;
  padding: 20px;
  margin:2vh 5vw;

  /* border: 2px solid red;
  border-radius: 2em 1em 4em / 0.5em 3em;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
/* .carousel-item{
  padding-left: 25%;
  padding-right: 25%;

} */
/* .wrapperr{
    width: 100%;
    margin: 0 auto;
    height: auto;
    background-image: url('web_app/static/img/videoSessions.png');
} */

.section-padding{
padding-right:10%;
padding-top:20%;
}
.tet-carousel{

}
.single-testi{
    background: white;
    margin-top: 15%;
    margin-bottom:15%;
    padding:10%;
    text-align: center;
    border-radius: 25px;
    box-shadow: 18px 18px 20px #d1d9e6,-12px -12px 20px #fff;
    inset-box-shadow: inset 8px 8px 20px #d1d9e6,inset -12px -12px 20px #fff;
}
.img-area{
    width:100px;
    height: 100px;
    display:block;
    overflow:hidden;
    border-color: cadetblues;
    border-radius: 50%;
    margin: 0 auto;

}
.img-area img{
  height: auto;
}


.img-text h2{
    margin: 20px 0 -15px;
    color: #ff5257;
}
.img-text i,hr{
    color: #ff5257;
}
@media only screen and (max-width:991px){
    .wrapper{
        width:100%;
    }
}


/* .carousel-div{
  min-height: 50vh;
  margin: 50px;
  border-radius: 10px;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel-imag{
  min-height:30vw;
  max-height: 70vw;
} */
.service-box-div{
  margin: 7% 7%;
  padding: 7% 7%;

  /* box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 18px 18px 20px #d1d9e6,-12px -12px 20px #fff;
  inset-box-shadow: inset 8px 8px 20px #d1d9e6,inset -12px -12px 20px #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;

}
.service-box-heading{

  padding-top: 4% ;
  padding-bottom: 4% ;
  text-align: left;
  font-size: 2.5vw;
  font-weight: bold;
}
.service-box-button{
  margin-left:15% ;
  margin-top: 10%;
  width: 70%;
}


/* ******************************************************************************************** */
                                       /* Connect Css */


#connect{

  min-height: 40vh;
  background-color: #edeef7;
  margin-top: 5% ;

}
.connectMainDiv{

  min-height: 30vh ;
  margin: 5% 12% ;
  background-color: white;
  border-radius: 10px;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.connectSubDiv:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-name: connect;
  animation-duration: 0.10s;
  border-left: 8px solid #b8b5ff;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
@keyframes connect {
    0%   {border-left: 2px solid #ffffff;}
    25%  {border-left: 3px solid #b8b5df;}
    50%  {border-left: 4px solid #b8b5ea;}
    100% {border-left: 5px solid #b8b5ff;}
}
.connect-box-div{
  margin-right: 5% ;
}
.connect-box-right-div{

  padding-top: 25px ;
}
.connect-icon{

margin-top: 15% ;
margin-left: 4% ;

}
#description{
  padding: 7% 15% ;background-color: #b8b5ff;
}
img {
max-width:100%;
}
.feature-box{
  display:block;text-align: center;font-size: 0.75em;max-width:100%;

}
.feature-box-heading{
font-size: 20px;
}
.privacyImage{
border-radius: 5% ;margin-bottom: 5% ;margin: 5px 5px ;max-height: 100px;
}
.pad-right{
  padding-right:20%;
}
.pad-left{
  padding-left:20%;
}


/* ****************************************************************************************** */

/* Self Test Css */


#selfTestHead{
  text-align: center ;
  font-size: 3em;
  padding-top: 5%;
  padding-bottom: 5% ;
}

.begin-button{

margin-left: 15%;
margin-top: 25% ;


}

/* mobile CSS */




@media screen and (max-width:500px)
{
#intro{
    background-color: #f7dbcd;height:auto;width: 100%;margin-top: 3% ;
    padding-top: 10px;padding-bottom: 5px;display: table;
}
.IntroPic{
  margin-right: 1% ;margin-top: 1% ;min-width:100%;
  height:auto;padding-left: 30%;padding-top: 1vh;
}
.introText{
  padding-left: 5% ;padding-top: 7% ; height:auto; width:100%;
}
.main {
  max-width: 100%;height: auto;
}

.introMainTitle{
  padding-top:10vh;font-size: 10vw;
}

.introSubTitle{
  padding-top:1vh;font-size: 7vw;
}

.tagLine{
  margin-top: 5%; padding-top:8vh;padding-bottom: 2vh;  font-size:8vw;
}
.introLoginButton{
  font-size: 0.3em ;
  margin: 6%;
}
.introSignUpButton{
  font-size: 0.3em ;
  margin: 3%;
}
.feature-box{
  display:block;text-align: center;font-size: 0.75em;max-width:100%;margin: 1% 1%;
}
.feature-box-heading{
font-size: 5vw;padding-top: 10px;
}
.privacyImage{
border-radius: 5% ;min-width:40%;margin: 5% 5%;
}
.pad-right{
  padding-right:0%;
}
.pad-left{
  padding-left:0%;
}
}



/* width size less than 650px */

@media screen and (max-width:900px) and (min-width:501px),
{
#intro{
    background-color: #f7dbcd;height:auto;width: 100%;
    margin-top: 3% ;padding-top: 10px;padding-bottom: 5px;display: table;
}
.IntroPic{
  margin-right: 1% ;margin-top: 1% ;max-width:100%;
  height:auto;padding-left: 28%;display: block;
}
.introText{
  padding-left: 5% ;padding-top: 7% ;height:auto;width:100%;
}
.main {
  max-width: 100%;height: auto;
}

.introMainTitle{
  padding-top:50px;font-size: 6vw;
}

.introSubTitle{
  font-size: 7vw ;
}
.tagLine{
  margin-top: 5%;font-size:3vw;
}
.pad-right{
  padding-right:0%;
}
.pad-left{
  padding-left:0%;
}

}
