<!DOCTYPE html>
<html lang="en" dir="ltr">
{% load static %}
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/homepage.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/nav.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light sticky">

    <a class="navbar-brand" href="#">MentalHelp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <button class="nav-link btn btn-outline-secondary" aria-current="page" data-bs-toggle="modal" data-bs-target="#exampleModal">LogIn</button>
        </li>
      </ul>
    </div>
  </nav>


  <!--
  ******************************************************************************************************* -->
  <!-- Login Modal Box -->
  <!-- Trigger the modal with a button -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- <div class="modal-body"> -->
          <div class="wrapper">
            <div class="title-text">
              <div class="title login">
                Login Form</div>
              <div class="title signup">
                Signup Form</div>
            </div>
            <div class="form-container">
              <div class="slide-controls">
                <input type="radio" name="slide" id="login" checked>
                <input type="radio" name="slide" id="signup">
                <label for="login" class="slide login">Login</label>
                <label for="signup" class="slide signup">Signup</label>
                <div class="slider-tab">
                </div>
              </div>
              <div class="form-inner">
                <form action="/login/" class="login" method="POST">
                  {% csrf_token %}
                  <div class="field">
                    <input type="email" placeholder="Email Address" name="email" required>
                  </div>
                  <div class="field">
                    <input type="password" placeholder="Password" name="password" required>
                  </div>
                  <div class="pass-link">
                    <a href="#">Forgot password?</a>
                  </div>
                  <div class="field btn">
                    <div class="btn-layer">
                    </div>
                    <input type="submit" value="Login">
                  </div>
                  <div class="signup-link">
                    Not a member? <a href="">Signup now</a></div>
                </form>
                <form action="/signup/" class="signup" method="POST">
                  {% csrf_token %}
                  <div class="field">
                    <!-- <label>Name:</label> -->
                    <input type="text" placeholder="Name" name="name" required>
                  </div>
                  <div class="field">
                    <!-- <label>Email:</label> -->
                    <input type="text" placeholder="Email Address" name="email" required>
                  </div>
                  <div class="field">
                    <!-- <label>Password:</label> -->
                    <input type="password" placeholder="Password" pattern=".{6,}" name="password" required>
                  </div>
                  <div class="field">
                    <!-- <label>Confirm Password:</label> -->
                    <input type="password" placeholder="Confirm password" name="password" required>
                  </div>
                  <div class="field btn">
                    <div class="btn-layer">
                    </div>
                    <input type="submit" value="Signup">
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      <!-- </div> -->
    </div>
  </div>

<!-- ///////////////////////////////////////////////// -->
<section id="intro">

    <div class="introText">
      <h1 class="introMainTitle"><strong>Not Feeling happy<strong></h1>
      <h2 class="introSubTitle">You know where to come</h2>
      <h2 class="tagLine">Your companion, guide, and <strong>Friend </strong>in the journey of life</h2>
      <button type="button" class="btn btn-lg btn-primary introLoginButton">LogIn</button>
      <button type="button" class="btn btn-lg btn-outline-primary introSignUpButton">SignUp</button>
    </div>
    <div class="IntroPic">
      <img src="{% static 'img/homeTitilePic.jpg' %}" alt="" class="main" >
    </div>

  </section>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#f7dbcd" fill-opacity="1" d="M0,96L26.7,106.7C53.3,117,107,139,160,133.3C213.3,128,267,96,320,80C373.3,64,427,64,480,64C533.3,64,587,64,640,101.3C693.3,139,747,213,800,213.3C853.3,213,907,139,960,122.7C1013.3,107,1067,149,1120,138.7C1173.3,128,1227,64,1280,48C1333.3,32,1387,64,1413,80L1440,96L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z"></path></svg>

<!-- <section id="description">

</section> -->

  <!-- *************************************************************************************** -->
  <!-- Overcome Your Problems Section -->

<section id="service">
    <h2 class="serviceHeading">We Help With</h2>
</section>
<div class="wrapperr">
    <div class="tet-carousel section-pad owl-carousel">

      <div class="single-testi">
        <div class="image-area">
          <img src="{% static 'img\test1.jpeg' %}" alt="">
        </div>
        <div class="img-text">
          <h2>Depression</h2>
          <hr>
        </div>

      </div>

      <div class="single-testi">
        <div class="image-area">
        <img src="{% static 'img/type1.jpeg' %}" alt="" >
        </div>
        <div class="img-text">
          <h2>Anxiety</h2>
          <hr>
        </div>

      </div>
      <div class="single-testi">
        <div class="image-area">
          <img src="{% static 'img/type2.jfif' %}" alt="">
        </div>
        <div class="img-text">
          <h2>Paranoia</h2>

          <hr>
        </div>

      </div>
      <div class="single-testi">
        <div class="image-area">
        <img src="{% static 'img/type3.jfif' %}" alt="">
        </div>
        <div class="img-text">
          <h2>Stress</h2>
          <hr>
        </div>

      </div>

    </div>

  </div>

  <!-- ******************************************************************************************** -->

  <!-- Connect Section -->






<section id="connect">

    <h2 class="serviceHeading">Connect With your Comfort</h2>

    <div class="row connectMainDiv">

      <div class="connectSubDiv col-lg-4 ">

        <div class="connect-box-div">
          <div class="connect-box-left-div" style="width: 30%; float:left">
            <img src="{% static 'img/chatSessions.png' %}" class="img-fluid connect-icon" alt="Responsive image">

          </div>

          <div class="connect-box-right-div" style="width:65%; float:right">
            <h3 class="connect-box-heading">
              <b>Chat sessions</b>
            </h3>
            <p >Depression is a state of unhppiness for a long period of time.</p>
          </div>

          <br style="clear:both;" />
        </div>

      </div>

      <div class="connectSubDiv col-lg-4 ">

        <div class="connect-box-div">
          <div class="coonect-box-left-div" style="width: 30%; float:left">
            <img src="{% static 'img/callSessions.png' %}" class="img-fluid connect-icon" alt="Responsive image">

          </div>

          <div class="connect-box-right-div" style="width:65%; float:right">
            <h3 class="connect-box-heading">
              <b>Voice Calls</b>
            </h3>
            <p class="connect-box-content">Depression is a state of unhppiness for a long period of time.</p>
          </div>

          <br style="clear:both;" />
        </div>

      </div>

      <div class="connectSubDiv col-lg-4 ">

        <div class="connect-box-div">
          <div class="connect-box-left-div" style="width: 30%; float:left">
            <img src="{% static 'img/videoSessions.png' %}" class="img-fluid connect-icon" alt="Responsive image">

          </div>

          <div class="connect-box-right-div" style="width:65%; float:right">
            <h3 class="connect-box-heading">
              <bold>1 to 1 video sessions</bold>
            </h3>
            <p class="connect-box-content">Depression is a state of unhppiness for a long period of time.</p>
          </div>

          <br style="clear:both;" />
        </div>

      </div>


    </div>

    <div class="row">
      <div class="feature-box col-lg-4 col-md-4 pad-left">
        <img src="{% static 'img/privacy.svg' %}" alt="Privacy Matters" class="privacyImage">
        <h3 class="feature-box-heading">
          <b>Private and Confidential</b>
        </h3>


      </div>

      <div class="feature-box col-lg-4 col-md-4 ">
        <img src="{% static 'img/communitySupportIcon.svg' %}" alt="Privacy Matters" class="privacyImage">
        <h3 class="feature-box-heading">
          <b>Community Support</b>
        </h3>

      </div>

      <div class="feature-box col-lg-4 col-md-4 pad-right">
        <img src="{% static 'img/anonymous.svg' %}" alt="Privacy Matters" class="privacyImage">
        <h3 class="feature-box-heading">
          <b>Anonymous Discussions</b>
        </h3>

      </div>
    </div>

</section>


  <!-- ********************************************************************************************** -->

  <!-- ************************************************************************************** -->

  <!-- Self Test Section  -->
 <h1 id="selfTestHead">Discover Yourself</h1>


  <div class="row">

    <div class="service-box col-lg-4 col-md-6">
      <div class="service-box-div" >
        <div class="service-box-right-div" >
          <h3 class="service-box-heading">
            <bold>Depression</bold>
          </h3>
          <p class="service-box-content">Depression is a state of unhppiness for a long period of time.</p>

        </div>
        <button class="service-box-button btn btn-lg btn-primary" type="button" name="button">Begin Test</button>

      </div>


    </div>

    <div class="service-box col-lg-4 col-md-5 col-md-6">
      <div class="service-box-div">
        <div class="service-box-right-div">
          <h3 class="service-box-heading">
            <bold>Depression</bold>
          </h3>
          <p class="service-box-content">Depression is a state of unhppiness for a long period of time.</p>
        </div>
        <button class="service-box-button btn btn-lg btn-primary" type="button" name="button">Begin Test</button>
      </div>


    </div>

    <div class="service-box col-lg-4  col-md-5 col-md-6">
      <div class="service-box-div">
        <div class="service-box-right-div" >
          <h3 class="service-box-heading">
            <bold>Depression</bold>
          </h3>
          <p class="service-box-content">Depression is a state of unhppiness for a long period of time.</p>
        </div>
        <button class="service-box-button btn btn-lg btn-primary" type="button" name="button">Begin Test</button>
      </div>


    </div>


  </div >

<!-- //////////////////////////////////////////////////////////////////////// -->


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  <script src="{% static 'js/login.js' %}"></script>
  <script src="{% static 'js/service.js' %}"></script>
</body>

</html>
